<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="header(title,links,scripts)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link id="theme-style" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/solar/bootstrap.min.css"/>

    <title th:replace="${title}">Document</title>
    <link rel="icon" th:href="@{shop.png}">
    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>

    <script>
        const savedTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        document.getElementById('theme-style').href = document.getElementById('theme-style').href
            .replace('solar', savedTheme === 'dark' ? 'solar' : 'minty')
            .replace('minty', savedTheme === 'dark' ? 'solar' : 'minty');
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#theme-toggle i').className = savedTheme === 'dark' ? 'btn-outline-dark fas fa-sun' : 'btn-outline-dark fas fa-moon';

            document.getElementById('theme-toggle').addEventListener('click', () => {
                const themeStyle = document.getElementById('theme-style');
                const isDark = themeStyle.href.includes('solar');

                themeStyle.href = themeStyle.href.replace(isDark ? 'solar' : 'minty', isDark ? 'minty' : 'solar');
                localStorage.setItem('theme', isDark ? 'light' : 'dark');
                document.querySelector('#theme-toggle i').className = !isDark ? 'btn-outline-dark fas fa-sun' : 'btn-outline-dark fas fa-moon';
            });
        });
    </script>
</head>
<body>
    <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/plats}">Plats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button id="theme-toggle" class="btn btn-link nav-link">
                            <i class="btn-outline-dark fas fa-moon"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        <h1>Modèle "Base"</h1>

    </div>
    
</body>
</html>