<!DOCTYPE html>
<html lang="en">
<head th:replace="~{_layout.html::header(~{::title}, _, ~{::script})}">
    <title>Liste des plats</title>
    <script>
        function confDelPlat(e){
            if(!confirm('Voulez-vous vraiment supprimer ce plat ?')) e.preventDefault();
        }
    </script>
</head>
<body>
    <nav th:replace="~{_layout.html:: menu}"></nav>
    <div class="container mt-5">
        <div class="alert alert-dismissible alert-success" th:if="${action=='new' || action=='mod'}" >
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <p th:if="${action=='new'}">Le produit <strong th:text="${produit.designation}" /> a bien été créé au prix de <span th:text="${#numbers.formatDecimal(produit.prix,1,2,'COMMA')+' &euro;'}"/>
            </p>
            <p th:if="${action=='mod'}">Le produit <strong th:text="${produit.designation}" /> a bien été modifié au prix de <span th:text="${#numbers.formatDecimal(produit.prix,1,2,'COMMA')+' &euro;'}"/>
            </p>
            </div>
            <div class="alert alert-dismissible alert-warning" th:if="${action=='del'}">
            <button type="button" class="btn-close" data-bs-dismiss="alert">
            </button>
            Le produit a bien été supprimé
        </div>
        <form th:action="@{/plats}" method="get" class="table">
            <div class="d-flex align-items-center gap-3">
                <label for="cid">Catégorie :</label>
                    <select id="cid" name="cid" class="form-control">
                        <option value="" disabled selected>Choisir une catégorie</option>
                        <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.nom}"></option>
                    </select>
                <label for="mincal">Calories min :</label>
                <input type="number" name="mincal" id="mincal" class="form-control" th:value="${mincal}" />
                
                <label for="maxcal">Calories max :</label>
                <input type="number" name="maxcal" id="maxcal" class="form-control" th:value="${maxcal}" />
                
                <input type="hidden" name="p" th:value="0" />
                <input type="hidden" name="s" th:value="${page.size}" />
                
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </div>
        </form>
        <a th:href="@{/platEdit(s=${page.size},p=${page.number})}" class="btn btn-primary">Ajouter un plat</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Calories</th>
                    <th>Glucides</th>
                    <th>Lipides</th>
                    <th>Protéines</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${plats}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.nb_calories}"></td>
                    <td th:text="${p.nb_glucides}"></td>
                    <td th:text="${p.nb_lipides}"></td>
                    <td th:text="${p.nb_proteines}"></td>
                    <td th:text="${p.categorie.nom}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/platEdit(id=${p.id},s=${page.size},p=${page.number})}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn btn-warning" onclick="confDelPlat(event)" th:href="@{/produitDelete(id=${p.id},s=${page.size},p=${0})}"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${page.totalPages>1}">
        <nav>
            <ul class="pagination">
            <li th:class="${page.first ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/plats(s=${page.size},p=${page.number-1})}" aria-label="Préc.">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:class="page-item" th:each="i : ${#numbers.sequence(0,page.totalPages-1)}" th:classappend="${i == page.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/plats(s=${page.size},p=${i})}" th:text="${i+1}"> 1</a>
            </li>

            <li th:class="${page.last ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/plats(s=${page.size},p=${page.number+1})}" aria-label="Suiv.">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
        </div>  
        <form action="#" th:action="@{/plats}" method="get">
            <div class="form-group">
                <label for="size">Plats par page : </label>
                <select name="s" id="size" onchange="this.form.submit()">
                <option value="5" th:selected="${page.size ==5}">5</option>
                <option value="10" th:selected="${page.size ==10}">10</option>
                <option value="15" th:selected="${page.size ==15}">15</option>
                <option value="20" th:selected="${page.size ==20}">20</option>
                </select>
            </div>
            
            <input type="hidden" name="p" th:value="${page.number}" />
            

        </form>        
    </div>
</body>
</html>